.modals {
  width: 80%;
  margin: 0 auto;
  border: 1px solid black;
  padding: 4px;
}
.modals > .modals-header {
  width: 80%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  /* text-align: center; */
  padding: 5px;
}
.modals > .modals-content {
  width: 80%;
  padding: 10px 5px;
}
.modals > .actions {
  width: 80%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modals > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
